<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  </head>
  <body>
      <%- include layout %>
      <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="/data">See data</a>
  </div>
  </body>
</html>
